<h1>About me</h1>

    <a1>Although I'm a civil servant and have + 8 years of experience in public administration, logistics and, also, 
        I was selected to another ones civil servant jobs, I've decided to change my career and join in a new world, 
        developing tools that might make a change in business.</a1>
    <br />
    <br />
    <a1>Having worked for more than 3 years as a GNU Linux user. I'm learning in Python and Django to help and improve in your company and products</a1>

    <br />
    <br />

<form action="{% url 'home' %}">
    
    <input type="submit" value="Home Page"/> 
    
</form>












